.main-article__paragraph {
    background-color: transparent;
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    align-content: center;
    gap: 20px;
}


.main-article__paragraph input,button {
    width: 100%;
    border: 0px;
    background-color: goldenrod;
    color: black;
    border-radius: 5px;
    box-shadow: 2px 2px 2px 2px #594A2A;
}