<div class="slider">
  <ng-image-slider
    [images]="imgCollection"
    #nav
    [infinite]="true"
    [autoSlide]="1"
    [imageSize]="{ width: '100%', height: 380 }"
    slideImage="1"
  ></ng-image-slider>
</div>

<ngx-typed-js
  [strings]="[
    'Hello there! we are  currently studying front-end development at IT-Step Academy.we are passionate about designing and building beautiful,user-friendly websites that provide an enjoyable experience for visitors. I love learning about the latest web design trends and technologies and incorporating them into my work. When I am not coding,you can usually find me exploring new cafes around town or practicing my guitar skills. we are excited to see where my career in web development takes me and am always eager to takeon new challenges and expand my skills.'
  ]"
  [loop]="true"
  [shuffle]="true"
  [typeSpeed]="50"
>
  <h1 class="typing"></h1>
</ngx-typed-js>
